.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 3s;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 3s;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 3s;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 3s;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 3s;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
    transition: 3s;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 3s;
}
.ex-10-icon {
    font-size: 60px;
    animation: rotate 1s linear;
    animation-iteration-count: infinite;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* animations */

.ex-1-square:hover{
    background-color: red;
}
.ex-2-square:active{
    width: 100%;
}
.ex-3-square:hover{
    border-radius: 50%;
}
.ex-4-square:hover{
    opacity: 0;
}
.ex-5-square:hover{
    width: 100px;
    height: 100px;
    margin: 0;
} 
.ex-5-square:active{
    width: 20px;
    height: 20px;
    margin: 40px;
}
.ex-6-img:hover{
    filter: grayscale(1);
}
.ex-7-img:hover{
    filter: grayscale(1) invert(1);
}
.ex-8-img:hover{
    filter: grayscale(1) invert(1);
    border-radius: 40px;
}
.ex-9-img:hover{
    filter: grayscale(1) invert(1);
    border-radius: 40px;
    width: 500px;
}
@keyframes rotate {
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.ex-11-icon:hover{
    animation: clockwise 3s linear;
}
@keyframes clockwise {
    25%{
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
}

.ex-12-button:hover .ex-12-top-white{
    animation: movetop12 3s linear;
}
@keyframes movetop12 {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}
.ex-12-button:hover .ex-12-bottom-white{
    animation: movebottom12 3s linear;
}
@keyframes movebottom12 {
    0%{
        right: 20%;
    }
    50%{
        right: calc(100% - 60px);
    }
    100%{
        right: 20%;
    }
}
.ex-13-button:hover .ex-13-top-white{
    animation: movetop13 3s linear;
}
@keyframes movetop13 {
    0%{
        top: -10px;
        left: 10%;
    }
    25%{
        top: -10px;
        left: calc(100% - 60px)
    }
    50%{
        top: 100%;
        left: 100%;
    }
    75%{
        top: 100%;
        left: 0%;
    }
    90%{
        top: -10px;
        left: -10%;
    }
    100%{
        top: -10px;
        left: 10%;
    }
}
.ex-13-button:hover .ex-13-bottom-white{
    animation: movebottom13 3s linear;
}
@keyframes movebottom13{
    0%{
        bottom: -10px;
        right: 20%;
    }
    25%{
        bottom: -10px;
        right: calc(100% - 60px);
    }
    50%{
        bottom: 100%;
        right: calc(100% - 40px);
    }
    75%{
        bottom: 100%;
        right: 0%;
    }
    90%{
        bottom: -10px;
        right: -10%;
    }
    100%{
        bottom: -10px;
        right: 10%;
    }
}